{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier", // Replace "prettier/react" with "prettier"
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "jsx-a11y"
  ],
  "rules": {
    "react/prop-types": "off",
     "jsx-a11y/no-autofocus": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
